In [1]:
import pandas as pd

In [5]:
dataset={'student':['abc','deh','hjg'],'year':[2013,2014,2016]} #creating dataset with array

In [6]:
dt=pd.DataFrame(dataset) #print dataset in frame
print(dt)

  student  year
0     abc  2013
1     deh  2014
2     hjg  2016

In [8]:
print(pd.__version__)

1.4.2

In [10]:
a=[10,20,30,40]
dt1=pd.Series(a)
print(dt1)
print(dt1[3])

0    10
1    20
2    30
3    40
dtype: int64
40

In [11]:
dt2=pd.Series(a,index=['m1','m2','m3','m4'])
print(dt2)
print(dt2['m2'])

m1    10
m2    20
m3    30
m4    40
dtype: int64
20

In [13]:
marks={'maths':50,'science':60,'ss':70}
dt3=pd.Series(marks)
print(dt3)
print(dt3['ss'])

maths      50
science    60
ss         70
dtype: int64
70

In [14]:
dt3=pd.Series(marks,index=['maths','ss'])
print(dt3)

maths    50
ss       70
dtype: int64

In [16]:
read=pd.read_csv('customers.csv') #read the csv file
print(read)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [17]:
print(pd.options.display.max_rows) #count the max rows

60

In [20]:
pd.options.display.max_rows=10 #print specified rows
cust=pd.read_csv('customers.csv')
print(cust)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [22]:
print(cust.tail()) #from back
print("\n",cust.head()) #from starting

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

    CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [23]:
print(cust.info()) #print the information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

In [24]:
cust.dropna(inplace=True) #print the null values in dataset
print(cust)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [25]:
new_cust=cust['Gender'].fillna('Female') 
print(new_cust)

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [26]:
mean=read['Age'].mean() #mean of the specific column
print(mean)

38.85

In [27]:
median=read['Age'].median() #median of specific column
print(median)

36.0